
.nav-link {
  color: #838383;
  transition: all 0.3s ease;
}

.nav-link.active {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;    
  color: #165612;
}

.plant-image {
  width: 225px !important;
  height: 225px !important;
}

.calendar-button {
  border: 1px solid #ebebeb;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
}