<div class="d-flex flex-column justify-content-between mx-2" style="height: 100svh;">
    <div class="d-flex justify-content-between mb-2 p-2 align-items-center">
        <lucide-icon [name]="ChevronLeft" (click)="goToHome()"></lucide-icon>
        <span class="fw-bold" style="font-size: 22px;">{{ title }}</span>
        <app-badge-status [etat]="etat"></app-badge-status>
        <lucide-icon [name]="QrCode" (click)="openQrCodeDialog($event)"></lucide-icon>
    </div>
    <div class="d-flex flex-column p-4 position-relative" style="background-color: white;">
        <div class="position-absolute top-0 end-0 translate-middle-x">
            <app-badge-difficulty [difficulty]="2"></app-badge-difficulty>
        </div>
        <div class="d-flex flex-row justify-content-evenly">
            <div class="d-flex flex-column justify-content-evenly">
                <app-plant-card-temperature [direction]="'column'" [temperature]="temperature"></app-plant-card-temperature>
                <app-plant-card-exposition [direction]="'column'" [exposition]="exposition"></app-plant-card-exposition>
                <app-plant-card-humidity [direction]="'column'" [humidity]="humidity"></app-plant-card-humidity>
            </div>
            <div class="mx-4"></div>
            <img [src]="getImagePath()" alt="Mon image" class="plant-image">
        </div>
    </div>
    <div class="d-flex flex-column align-items-center mx-2 my-2">
        <nav class="d-flex flex-row mb-3">
            <button class="nav-link" [class.active]="activeTab === 'tab1'" (click)="selectTab('tab1')">
                Toxicité
            </button>
            <button class="nav-link mx-5" [class.active]="activeTab === 'tab2'" (click)="selectTab('tab2')">
                Reproduction
            </button>
            <button class="nav-link" [class.active]="activeTab === 'tab3'" (click)="selectTab('tab3')">
                Origine
            </button>
        </nav>
        <div class="mx-4 text-start">
            <div *ngIf="activeTab === 'tab1'">
                <span style="font-size: 12px;">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum  est le faux texte standard de l'imprimerie </span>
            </div>
            <div *ngIf="activeTab === 'tab2'">
                <span style="font-size: 12px;">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum  est le faux texte standard de l'imprimerie 2 .</span>
            </div>
            <div *ngIf="activeTab === 'tab3'">
                <span style="font-size: 12px;">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum  est le faux texte standard de l'imprimerie3</span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column p-2" style="background-color: white;">
        <div class="d-flex justify-content-between flex-row mb-2">
            <span class="fw-bold">Calendrier d'arrosage</span>
            <lucide-icon [name]="Calendar"></lucide-icon>
        </div>
        <app-calendar-horizontal [highlightedDates]="['15/06/2025', '20/06/2025', '25/06/2025']"></app-calendar-horizontal>
    </div>
</div>