
.nav-link {
  color: #838383;
  transition: all 0.3s ease;
}

.nav-link.active {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;    
  color: #165612;
}

.plant-image {
  width: 200px !important;
  height: 200px !important;
}