<div class="d-flex flex-column m-2" style="min-height: 100svh; padding-bottom: 70px;">
    <div class="d-flex align-items-center py-2 w-100" style="position: fixed; top: 0px; left: 0px; right: 0px; z-index: 1000; background-color: #f9f9f9;"  >
        <lucide-icon [name]="X" (click)="goBack()" class="mx-2" style="cursor:pointer;"></lucide-icon>
        <div class="text-center fw-bold" style="font-size: 22px;">
            Arrosage de {{ plantName }}
        </div>
    </div>

    <div style="font-size: 14px; background-color: #d9e1f8; padding: 10px; border-radius: 8px; position: relative;  margin-top: 50px;">
        <div style="position: absolute; top: -8px; left: 12px; background-color: white; border-radius: 50%; width: 20px; height: 20px;">
            <lucide-icon [name]="Info" color="#8c7ffd" class="d-flex justify-content-center align-items-center" size="20"></lucide-icon>
        </div>
        {{ wateringAdvice }}
    </div>
    <div class="my-2"></div>
    <div class="d-flex justify-content-around gap-2">
        <div class="d-flex flex-column py-2 px-2 rounded" style="background-color: white; width: 50%;">
            <div class="d-flex justify-content-center align-items-center rounded" style="width: 30px; height: 30px; background-color: #f1f1f1;">
                <lucide-icon class="d-flex justify-content-center align-items-center" [name]="Calendar" style="width: 24px; height: 24px;"></lucide-icon>
            </div>
            <div class="my-2"></div>
            <div class="fw-bold" style="font-size: 18px;">{{ lastWateringDate | date:'dd/MM/yyyy' }}</div>
            <div style="font-size: 10px; color: #808080;">Dernier arrosage</div>
        </div>
        <div class="d-flex flex-column py-2 px-2 rounded" style="background-color: white; width: 50%;">
            <div class="d-flex justify-content-center align-items-center rounded" style="width: 30px; height: 30px; background-color: #f1f1f1;">
                <lucide-icon class="d-flex justify-content-center align-items-center" [name]="CalendarSync" style="width: 24px; height: 24px;"></lucide-icon>
            </div>
            <div class="my-2"></div>
            <div class="fw-bold" style="font-size: 18px;">{{ averageWateringInterval }} jours</div>
            <div style="font-size: 10px; color: #808080;">Espacement moyen</div>
        </div>
    </div>
    <div class="my-2"></div>
    <div>
        <div class="fw-bold mb-2">3 derniers arrosages</div>
        <ul class="list-unstyled">
            <li *ngFor="let watering of lastWaterings" class="d-flex align-items-center p-2 mb-2" style="border-radius: 8px; background-color: white;">
                <div class="avatar-icon me-3">
                    <img [src]="watering.avatarImage" [alt]="watering.name" style="width: 32px; height: 32px; border-radius: 50%; object-fit: cover;">
                </div>
                <div class="flex-grow-1">
                    <div class="fw-bold">{{ watering.name }}</div>
                </div>
                <div class="" style="color: black;">{{ watering.date | date:'dd/MM/yyyy' }} <span class="d-flex" style="font-size: 10px; color: #808080;"> il y a 5 jours</span></div>
            </li>
        </ul>
    </div>
    <div class="my-2"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <app-calendar [date2]="dateSelected" (dateSelected)="onDateSelected($event)"></app-calendar>
    </div>
    <div style="position: fixed; bottom: 16px; left: 16px; right: 16px; z-index: 1000;"  >
        <button class="watering-button w-100" 
                [disabled]="!dateSelected" 
                [ngClass]="{'disabled-button': !dateSelected, 'enabled-button': dateSelected}" 
                (click)="openWaterPlantDialog()" 
                style="border-radius: 8px;">
            {{ dateSelected ? 'Arroser' : 'Sélectionnez une date' }}
        </button>
    </div>
</div>
    

