.calendar-horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  scrollbar-width: thin;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.calendar-day-item {
  width: 60px;
  min-width: 60px;
  height: 80px;
  margin-right: 8px;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-weight: 500;
  background-color: #f4f4f4;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.calendar-day-item:hover {
  background-color: #ececec;
}

.day-number {
  font-size: 14px;
  font-weight: bold;
  border-radius: 20%;
  padding: 5px;
}

.calendar-day-item.today {
  position: relative;
}

.calendar-day-item.today::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  z-index: 10;
}

.calendar-day-item.highlighted {
  background-color: rgb(226, 226, 255);
}

.calendar-day-item.active {
  border: 2px solid #a3a3a3;
}

.water-button{
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #5757b9;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

.enabled-button {
  background-color: #2d2d7e !important;
  color: white !important;
  cursor: pointer !important;
}

.disabled-button {
  background-color: #cccccc !important;
  color: #949494 !important;
  cursor: not-allowed !important;
}
