<div class="w-100">
  <ul
    class="calendar-horizontal-list d-flex flex-row flex-nowrap"
    #scrollContainer
  >
    <li
      *ngFor="let day of days"
      class="calendar-day-item text-center"
      style="position: relative"
      [class.active]="isSelected(day.date)"
      [class.today]="isToday(day.date)"
      [class.alreadyWatered]="isAlreadyWatered(day.date)"
      (click)="selectDate(day.date)"
    >
      <div class="day-number">{{ day.number }}</div>
      <div class="day-initial">{{ day.letters }}</div>
    </li>
  </ul>

  <div class="d-flex justify-content-end">
    <button
      [ngClass]="{
        'enabled-button': selectedDate,
        'disabled-button': !selectedDate
      }"
      [disabled]="!selectedDate"
      class="water-button"
      (click)="waterPlant(selectedDate)"
    >
      Arroser
    </button>
  </div>
</div>
