<ng-container *ngIf="typeDisplayed === 'bouture'; else plantDisplayed">
    <ng-template [ngTemplateOutlet]="beanDisplayed"></ng-template>
</ng-container>

<ng-template #beanDisplayed>
    <div class="d-flex justify-content-center gap-2 rounded px-2" style="background-color: #e5eec5">
        <span style="font-weight: 600; font-size: 12px;">Bouture</span>
    </div>
</ng-template>

<ng-template #plantDisplayed>
    <div class="d-flex justify-content-center gap-2 rounded px-2" style="background-color: #caeccc">
        <span style="font-weight: 600; font-size: 12px;">Plante</span>
    </div>
</ng-template>