<ng-container *ngIf="typeDisplayed === 'bean'; else plantDisplayed">
    <ng-template [ngTemplateOutlet]="beanDisplayed"></ng-template>
</ng-container>

<ng-template #beanDisplayed>
    <div class="d-flex flex-row align-items-center gap-2 rounded px-2" style="background-color: #e5eec5">
        <div style="background: url('/assets/bean.png'); background-size: contain; background-repeat: no-repeat; 
            width: 15px; height: 15px;"></div>
        <span style="font-weight: 600; font-size: 12px;">Bouture</span>
    </div>
</ng-template>

<ng-template #plantDisplayed>
    <div class="d-flex flex-row align-items-center gap-2 rounded px-2" style="background-color: #caeccc">
        <div style="background: url('/assets/plant.png'); background-size: contain; background-repeat: no-repeat; 
            width: 15px; height: 15px;"></div>
        <span style="font-weight: 600; font-size: 12px;">Plante</span>
    </div>
</ng-template>