<div class="page-container d-flex flex-column mx-2 my-2">
    <div class="d-flex justify-content-center position-relative">
        <h1 class="fw-bold">Mes plantes</h1>
        <div class="position-absolute top-0 end-0 h-100">
            <div class="d-flex flex-row h-100 gap-2">
                <lucide-icon [name]="Plus" class="h-100" (click)="openGenerateQRCode()"></lucide-icon>
                <lucide-icon [name]="QrCode" class="h-100" (click)="openQrCodeDialog($event)"></lucide-icon>
            </div>
        </div>
    </div>
    
    <div class="overflow-auto mt-2">
        <div class="d-grid gap-2" style="grid-template-columns: repeat(2, 1fr); ">
            <app-plant-list-card
                *ngFor="let plant of plants"
                [temperature]="plant.temperature"
                [exposition]="plant.exposition"
                [humidity]="plant.humidity"
                [plantId]="plant.id"
                (click)="goToPlant(123)"
                style="cursor: pointer;"
                >
            </app-plant-list-card>
        </div>
    </div>
</div>