button[ngbDropdownToggle]::after {
  display: none !important;
}

button[ngbDropdownToggle]:active {
  border: none;
  background-color: rgb(199, 199, 199);
}

button[ngbDropdownToggle]:focus {
  border: none;
}

.plant-image {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover !important;
  transition: transform 0.3s ease-in-out !important;
}

.plant-card:hover .plant-image {
  transform: scale(1.05) !important;
}

.dropdown-item {
  padding: 1;
}

::ng-deep .p-menu-list {
  margin-bottom: 0;
  padding-left: 0;
}

::ng-deep .p-menuitem-link{
  color: black;
  text-decoration: none ;
  border: none;
}
