<div class="plant-card d-flex flex-column w-full pb-3 mt-3" style="background-color: white;">
    <div class="d-flex flex-row justify-content-between align-items-center position-relative px-2 pt-2">
        <app-badge-difficulty [difficulty]="difficulty"></app-badge-difficulty>
        <div class="position-absolute top-0 start-50 translate-middle">
            <app-badge-status [etat]="etat"></app-badge-status>
        </div>
        <p-menu #menu [popup]="true" [model]="menuItems" appendTo="body" [style]="{'max-width': '150px'}">
            <ng-template let-item pTemplate="item">
                <span class="d-flex align-items-center py-1" style="cursor: pointer;">
                    <ng-container [ngSwitch]="item.label">
                        <lucide-icon *ngSwitchCase="'Voir'" class="d-flex justify-content-center mx-1" [size]="18" [name]="Eye"></lucide-icon>
                        <lucide-icon *ngSwitchCase="'Arroser'" class="d-flex justify-content-center mx-1" [size]="18" [name]="Droplet"></lucide-icon>
                        <lucide-icon *ngSwitchCase="'Supprimer'" class="d-flex justify-content-center mx-1" [size]="18" [name]="Trash"></lucide-icon>
                    </ng-container>
                    <span>
                        {{ item.label }}
                    </span>
                </span>
            </ng-template>
        </p-menu>
        <button type="button" class="btn btn-sm m-0 p-0" (click)="toggleMenu(menu, $event)">
            <lucide-icon [name]="EllipsisVertical"></lucide-icon>
        </button>
    </div>
    <div class="d-flex justify-content-center">
        <img [src]="utilsService.getImagePath(this.name)" alt="Mon image" class="plant-image">
    </div>
    <div class="d-flex flex-column mb-2 px-2">
        <span class="fw-bold" style="font-size: 16px;">{{name}}</span>
        <span *ngIf="particularity" class="fw-normal fst-italic" style="font-size: 12px;">({{particularity}})</span>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center px-3">
        <app-plant-card-temperature [direction]="'row'" [temperature]="temperature"></app-plant-card-temperature>
        <app-plant-card-exposition [direction]="'row'" [exposition]="exposition"></app-plant-card-exposition>
        <app-plant-card-humidity [direction]="'row'" [humidity]="humidity"></app-plant-card-humidity>
    </div>
</div>


