<div class="plant-card d-flex flex-column w-full pb-3 mt-3" style="background-color: white;">
    <div class="d-flex flex-row justify-content-between align-items-center position-relative px-2 pt-2">
        <app-badge-difficulty [difficulty]="difficulty"></app-badge-difficulty>
        <div class="position-absolute top-0 start-50 translate-middle">
            <app-badge-status [etat]="etat"></app-badge-status>
        </div>
        <p-menu #menu [popup]="true" [model]="menuItems" appendTo="body"></p-menu>
        <button type="button" class="btn btn-sm m-0 p-0" (click)="toggleMenu(menu, $event)">
            <lucide-icon [name]="EllipsisVertical"></lucide-icon>
        </button>
    </div>
    <div class="d-flex justify-content-center">
        <img [src]="getImagePath()" alt="Mon image" class="plant-image">
    </div>
    <div class="mb-2 px-2">
        <span class="fw-bold" style="font-size: 16px;">{{name}}</span>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center px-3">
        <app-plant-card-temperature [direction]="'row'" [temperature]="temperature"></app-plant-card-temperature>
        <app-plant-card-exposition [direction]="'row'" [exposition]="exposition"></app-plant-card-exposition>
        <app-plant-card-humidity [direction]="'row'" [humidity]="humidity"></app-plant-card-humidity>
    </div>
</div>


