<div class="plant-card d-flex flex-column w-full pb-3 mt-3" style="background-color: white;">
    <div class="d-flex flex-row justify-content-between align-items-center position-relative px-2 pt-2">
        <app-badge-difficulty [difficulty]="2"></app-badge-difficulty>
        <div class="position-absolute top-0 start-50 translate-middle">
            <app-badge-status [etat]="etat"></app-badge-status>
        </div>
        <div ngbDropdown (click)="$event.stopPropagation()">
            <button type="button" class="btn btn-sm m-0 p-0" id="dropdownBasic1" aria-expanded="false" ngbDropdownToggle>
                <lucide-icon [name]="EllipsisVertical"></lucide-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Voir la plante</button>
                <button ngbDropdownItem>Arroser la planten</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>Supprimer la plante</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <img [src]="getImagePath()" alt="Mon image" class="plant-image">
    </div>
    <div class="mb-2 px-2">
        <span class="fw-bold" style="font-size: 16px;">Monstera</span>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center px-3">
        <app-plant-card-temperature [direction]="'row'" [temperature]="temperature"></app-plant-card-temperature>
        <app-plant-card-exposition [direction]="'row'" [exposition]="exposition"></app-plant-card-exposition>
        <app-plant-card-humidity [direction]="'row'" [humidity]="humidity"></app-plant-card-humidity>
    </div>
</div>


