<div class="py-4 px-3" style="position: relative;">
    <lucide-icon [name]="X" size="20" (click)="cancel()" class="d-flex justify-content-center align-items-center" style="position: absolute; top: 8px; right: 8px; color: #666; width: 20px; height: 20px;"></lucide-icon>
    <lucide-icon [name]="Leaf" [strokeWidth]="3" class="d-flex justify-content-center fa-2xl mb-1" style="color: green"></lucide-icon>
    <h2 mat-dialog-title class="d-flex justify-content-center align-items-center fw-bold pb-0">Ajouter une plante</h2>
    <mat-dialog-content style="font-size: 13px;" class="d-flex justify-content-center p-0 py-2">
        <div class="form-group w-100">
            <ul class="list-group" style="max-height: 160px; overflow-y: auto;">
                <li *ngFor="let plant of plantService.plants()"
                    class="list-group-item d-flex flex-row gap-2 px-2"
                    [class.active]="plant.id === selectedPlantId"
                    (click)="selectPlant(plant.id)"
                >
                    <div class="d-flex flex-column" style="min-width: 70px;">
                        <app-badge-difficulty [isTitleDisplayed]="false" [difficulty]="plant.difficulty"></app-badge-difficulty>
                        <app-badge-plant-unit [typeDisplayed]="plant.type"></app-badge-plant-unit>
                    </div>
                    <div class="d-flex align-items-center">
                        <img [src]="utilsService.getImagePath(plant.name)" alt="Mon image" class="plant-image">
                    </div>
                    <div class="d-flex justify-content-center flex-column">
                        <span class="fw-bold" style="font-size: 13px;">{{ plant.name }}</span>
                        <span *ngIf="plant.particularity" class="fw-normal fst-italic" style="font-size: 12px;">({{plant.particularity}})</span>
                    </div>
                </li>
            </ul>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions class="d-flex justify-content-evenly p-0 mt-2" style="min-height: 0px;">
        <button class="cancel-button" (click)="cancel()">Non, annuler</button>
        <button class="validate-button" (click)="confirm()" [disabled]="!selectedPlantId">Oui, ajouter !</button>
    </mat-dialog-actions>
</div>